html,
body {
    overscroll-behavior-y: contain;
}
#popup {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: gray;
    display: none;
    z-index: 1;
    
  }
  .move{
    animation: move 1s ease forwards;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index:10;
  }
  .line{
    position: absolute;
    width:60px;
    top:10px;
    left:33%;
    border:2px solid rgb(179, 175, 175);
    cursor: pointer;
    z-index:10;
  }

  @keyframes move{
    from{
      top:110%;
    }
    to{
      top:50%;
    }
  }
  
